<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import { ref, defineProps, defineEmits } from 'vue';

const { t } = useI18n()
const resourceURL = ref('')
const fetchStatus = ref('')
const fetchedImagesLinks = ref<Array<string>>([
    'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.JON-FSXTb8jO3GN8lFMDGgHaE8%26pid%3DApi&f=1&ipt=80c34c6003a26910a31470183c0f6d23c687769f5010594ccbcd44d3fd957996&ipo=images',
    'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F6e%2F50%2F9f%2F6e509f30024689dd7988b318007e54b1.jpg&f=1&nofb=1&ipt=6adbf0ed59922a2b0167594d7c5acea4ba87b69bec5d13d6a28f4aa735bae245&ipo=images',
    'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.lescuisinesdarno.com%2FImages%2Frealisations%2FCuisine-noire-bois%2Famenagement-cuisine-noire-bois-Lyon-0.jpg&f=1&nofb=1&ipt=cbe40f04a3e43b2c495be47995253869ac849e1b95c68e354114ab152328c24e&ipo=images',
    'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmaison.20minutes.fr%2Fwp-content%2Fuploads%2F2020%2F04%2F3-Amenager-une-petite-cuisine-verriere-aluminum-SO-COOC.jpg&f=1&nofb=1&ipt=43fd0e9af6bad015432e58cc650a3e0e97afb6f3420b2aad4d6b1dabd2ea28a0&ipo=images',
    'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.JON-FSXTb8jO3GN8lFMDGgHaE8%26pid%3DApi&f=1&ipt=80c34c6003a26910a31470183c0f6d23c687769f5010594ccbcd44d3fd957996&ipo=images',
    'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F6e%2F50%2F9f%2F6e509f30024689dd7988b318007e54b1.jpg&f=1&nofb=1&ipt=6adbf0ed59922a2b0167594d7c5acea4ba87b69bec5d13d6a28f4aa735bae245&ipo=images',
    'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.lescuisinesdarno.com%2FImages%2Frealisations%2FCuisine-noire-bois%2Famenagement-cuisine-noire-bois-Lyon-0.jpg&f=1&nofb=1&ipt=cbe40f04a3e43b2c495be47995253869ac849e1b95c68e354114ab152328c24e&ipo=images',
    'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmaison.20minutes.fr%2Fwp-content%2Fuploads%2F2020%2F04%2F3-Amenager-une-petite-cuisine-verriere-aluminum-SO-COOC.jpg&f=1&nofb=1&ipt=43fd0e9af6bad015432e58cc650a3e0e97afb6f3420b2aad4d6b1dabd2ea28a0&ipo=images',
    'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.JON-FSXTb8jO3GN8lFMDGgHaE8%26pid%3DApi&f=1&ipt=80c34c6003a26910a31470183c0f6d23c687769f5010594ccbcd44d3fd957996&ipo=images',
    'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F6e%2F50%2F9f%2F6e509f30024689dd7988b318007e54b1.jpg&f=1&nofb=1&ipt=6adbf0ed59922a2b0167594d7c5acea4ba87b69bec5d13d6a28f4aa735bae245&ipo=images',
    'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.lescuisinesdarno.com%2FImages%2Frealisations%2FCuisine-noire-bois%2Famenagement-cuisine-noire-bois-Lyon-0.jpg&f=1&nofb=1&ipt=cbe40f04a3e43b2c495be47995253869ac849e1b95c68e354114ab152328c24e&ipo=images',
    'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmaison.20minutes.fr%2Fwp-content%2Fuploads%2F2020%2F04%2F3-Amenager-une-petite-cuisine-verriere-aluminum-SO-COOC.jpg&f=1&nofb=1&ipt=43fd0e9af6bad015432e58cc650a3e0e97afb6f3420b2aad4d6b1dabd2ea28a0&ipo=images',
])

defineProps(['visible'])
defineEmits(['close', 'select'])

function fetchImages() {
    fetch('https://api-comix.asciiparait.fr/extract-image?url=' + resourceURL.value)
        .then(response => response.json())
        .then(data => {
            console.log(data)
            if (data.length === 0) { 
                fetchStatus.value =  'no-image-found'
            }
            else if (data.length === 1) { 
                fetchStatus.value =  'image'
                fetchedImagesLinks.value = data
            }
            else if (data.length > 0) { 
                fetchStatus.value =  'image-list'
                fetchedImagesLinks.value = data
            }
        })
}


</script>

<template>
    <div class="overlay" 
            v-if="visible"
            @click="$emit('close')">
        <form 
                @submit.prevent.stop="fetchImages"
                @keypress.prevent.stop="fetchImages"
                @click.stop="()=>{}"
                @mouseup.stop="()=>{}"
                @dblclick.stop="()=>{}"
                >
            <h2 class="h2">{{ t('field_projects_source_url') }}</h2>
            <input class="input" type="text" 
                    placeholder="https://my-website/..."
                    @change="fetchImages"
                    v-model="resourceURL">
            <br class="mb-2">
            <button class="bad button" @click="$emit('close')">{{ t('field_cancel') }}</button>
            <button class="button ml-2 cta" @click="fetchImages" v-if="resourceURL.length>10">{{ t('field_add') }}</button>
            <section class="images mt-3" v-if="fetchStatus === 'image-list'">
                <img 
                        v-for="url in fetchedImagesLinks"
                        :key="url"
                        @click="$emit('select', url)"
                        class="mr-2" :src="url" alt="">
            </section>
            <div class="image" v-if="fetchStatus === 'image'">
                <img :src="fetchedImagesLinks[0]" alt="">
            </div>
            <p v-if="fetchStatus === 'no-image-found'" class="warning">XXX Unable to find image from this URL</p>
        </form>
    </div>
</template>

<style scoped>
.overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000000cc;
    backdrop-filter: blur(5px);
    z-index: 100;
}
.overlay form {
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 3px 30px #00000055;
    margin: 0 50px;
}

.images img {
    border-radius: 3px;
    border: 1px solid #555;
    height: 100px;
    cursor: pointer;
}
</style>
