<script setup lang="ts">
    import { useNotifications } from '@/stores/notifications'

    const store = useNotifications()
</script>


<template>
    <section class="notification" v-if="store.isVisible">
        {{ store.message }}
    </section>
</template>


<style scoped>
.notification {
    background-color: rgb(35, 149, 122);
    color: #fff;
    font-size: .8em;
    /* font-weight: bold; */
    border-radius: 3px;
    padding: 15px;
    width: 350px;
    position: fixed;
    bottom: 20px;
    right: 40px;
}
</style>