<script setup lang="ts">
import { ref, onMounted } from 'vue'
const props = defineProps(['src'])

const containerX = ref(0)
const containerY = ref(0)
const realImageX = ref(0)
const realImageY = ref(0)
const imgX = ref(0)
const imgY = ref(0)
const root = ref(null)
const realImage = ref(null)
const orientation = ref('')
const img = new Image();


onMounted(() => { 
    img.onload = function() {
        containerX.value = (root.value as any).getBoundingClientRect().width
        containerY.value = (root.value as any).getBoundingClientRect().height
        imgX.value = (this as any).width
        imgY.value = (this as any).height
        const imageRatio = imgY.value / imgX.value
        const containerRatio = containerY.value / containerX.value
        orientation.value = (containerRatio - imageRatio > 0)? 'larger': 'taller'
    }
    realImageX.value = (realImage.value as any).clientWidth
    realImageY.value = (realImage.value as any).clientHeight
    img.src = props.src;
})
</script>

<template>
    <div class="image-container" ref="root">
        <img ref="realImage" :src="src" alt="" :class="{'image': true, larger: orientation === 'larger', taller: orientation === 'taller' }">
    </div>
</template>

<style>
.image-container {
    overflow: hidden;
    border-radius: 10px;
}
.image.larger {
    position: relative;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
}
.image.taller {
    position: relative;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
}
</style>
