<script setup lang="ts">
import { ref, watch } from 'vue'
import { useI18n } from 'vue-i18n';
import { API_ROOT_URL } from '@/api/main';
import TagsList from './TagsList.vue';


const props = defineProps({'profile': Object})
const profilePicture = ref(false)

watch(() => props.profile, 
            checkProfilePictureExistence,
            { deep: true })

function checkProfilePictureExistence() {
    if (props.profile?.login) {
        fetch('https://api-comix.asciiparait.fr/artists/' + props.profile?.login + '/profile-picture')
            .then(response => { 
                profilePicture.value = response.status === 200 
            })
    }
}
// const userProfile = ref(JSON.parse(JSON.stringify(props.profile.value)))
const { t } = useI18n({useScope: 'global'})
</script>

<template>
    <h1 class="h1 s12 mb-3">{{ t('home_about') }} {{ profile!.login }}</h1>
    <div v-if="profile!.profile" class="s12 grid">
        
        <div class="presentation s8 mb-4">
            <div class="s6 social">
            <h2 class="h2 mb-2">{{ t('home_social_network') }}</h2>
            <a class="social link"
                target="_blank"
                v-if="profile!.profile.facebook"
                :href="profile!.profile.facebook">
                <img src="/facebook.png" alt="Profil facebook"/></a>
            <a class="social link"
                target="_blank"
                v-if="profile!.profile.instagram"
                :href="profile!.profile.instagram">
                <img src="/instagram.png" alt="Profil instagram"/></a>
            <a class="social link"
                target="_blank"
                v-if="profile!.profile.snapchat"
                :href="profile!.profile.snapchat">
                <img src="/snapchat.png" alt="Profil snapchat"/></a>
            <a class="social link"
                target="_blank"
                v-if="profile!.profile.tiktok"
                :href="profile!.profile.tiktok">
                <img src="/tiktok.png" alt="Profil tiktok"/></a>
            <a class="social link"
                target="_blank"
                v-if="profile!.profile.twitch"
                :href="profile!.profile.twitch">
                <img src="/twitch.png" alt="Profil twitch"/></a>
        </div>
            <p class="description p">{{ profile!.profile.presentation }}</p>
            <a class="website" v-if="profile!.profile.website" :href="profile!.profile.website">{{ profile!.profile.website }}</a> 
        </div>
        <div class="s4">
            <div class="photo">
                <img src="/user-shadow.svg" alt="">
                <img v-if="profilePicture" :src="`${API_ROOT_URL}/artists/${profile!.login}/profile-picture`" alt="">
                <p>{{ t('home_profile_picture') }}</p>
            </div>
        </div>
        <div class="s6 misc">
            <h2 class="h2 mb-2">{{ t('home_professional_activity') }}</h2>
            <TagsList class="mb-3" :tags="profile!.profile.preferedStyles" :writable="false"/>
            <br/>

            <h2 class="h2 mt-3 mb-2">{{ t('home_technologies') }}</h2>
            <TagsList class="mb-3" :tags="profile!.profile.preferedTechnologies" :writable="false"/>
        </div>
    </div>
</template>

<style>
.photo {
    background: rgb(222, 222, 222);
    height:300px;
    position: relative;
    left: 40px;
    border-radius: 5px;
    padding: 20px;
    transform: rotate(3deg);
    box-shadow: 0 5px 30px #ccc, 0 3px 4px #888;
}
.photo p {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: calc(100% - 40px);
    font-family: 'Permanent Marker';
}
.photo img {
    /* background: #fff; */
    border: 0;
    display: block;
    width: calc(100% - 0px);
    height: calc(100% - 40px);
}
.description {
    margin-bottom: 50px;
}

.social.link {
    padding: 10px 0;
    display: inline-block;
    margin: 0 20px 20px 0;
}
.website {
    color: #1485c6;
}
</style>
