<script setup lang="ts">
import { ref } from 'vue'
import { RouterLink, useRouter } from 'vue-router';
import { useUserStore } from '@/stores/user'
import { updateProfile } from '@/api/main'
import { useI18n } from 'vue-i18n';
import { API_ROOT_URL, uploadProfilePicture } from '@/api/main'
import TagsList from './TagsList.vue';

const router = useRouter()
const userStore = useUserStore()
const profileResetValue = JSON.parse(JSON.stringify(userStore.user))
const userProfile = userStore.user
const { t } = useI18n({useScope: 'global'})
const refreshSlug = ref<string>(new Date().getTime().toString())
const newPreferredStyle = ref('')
const newPreferredTechnology = ref('')

resetProfile()

function resetProfile() {
    /** 
     * reset profile to values received as props 
     */
    if (!userProfile.profile) {
        console.log('EMPTY PROFILE')
        userProfile.profile = {
            website: profileResetValue.profile?.website,
            facebook: profileResetValue.profile?.facebook,
            instagram: profileResetValue.profile?.instagram,
            snapchat: profileResetValue.profile?.snapchat,
            tiktok: profileResetValue.profile?.tiktok,
            twitch: profileResetValue.profile?.twitch,
            photo: profileResetValue.profile?.photo,
            preferedStyles: profileResetValue.profile?.preferedStyles || [],
            preferedTechnologies: profileResetValue.profile?.preferedTechnologies || [],
        }
        console.log('EMPTY PROFILE', userProfile)
    }
}

function addPreferredStyle() {
    userProfile.profile?.preferedStyles.push(newPreferredStyle.value)
    newPreferredStyle.value = ''
}
function addPreferredTechnology() {
    userProfile.profile?.preferedTechnologies.push(newPreferredTechnology.value)
    newPreferredTechnology.value = ''
}

function changeProfilePicture(ev: Event) {
    console.log((ev.target as any).files[0])
    uploadProfilePicture(userProfile.login, (ev.target as any).files[0])
        .then(() => {
            // refreshSlug.value = new Date().getTime().toString()
            (userProfile.profilePicture as boolean) = true
        })
}

function save() {
    /** 
     * save/update profile data to server
     */
    const user = userStore.user
    userStore.updateLocally(user)
    user.profile = userProfile.profile
    console.log(JSON.parse(JSON.stringify(user)))
    updateProfile(user)
}


</script>

<template>
    <h1 class="h1 s12 mb-3">{{ t('home_welcome') }} {{ userProfile.login }}</h1>
    <div v-if="userProfile.profile" class="s12 grid">
        <div class="presentation s8 mb-4">
            <p class="p mb-2">{{ t('home_catch_phrase') }}</p>
            <button class="cta button mb-3 mr-3" @click="router.push('/my-projects')">{{ t('projects_title') }}</button>
            <button class="cta button mb-3" @click="router.push('/create-project')">{{ t('field_new_project') }}</button>
            <h2 class="h2 mb-2">{{ t('home_about_you') }}</h2>
            <input 
                :placeholder="t('field_name')" type="text" class="input mb-2" 
                v-model="userProfile.name">
            <br>
            <textarea 
                :placeholder="t('field_summary')" name="" id="" cols="30" rows="5" class="textarea input mb-2" 
                v-model="userProfile.profile.presentation"></textarea>
            <br>
            <input 
                :placeholder="t('field_website')" type="text" class="input mb-2"
                v-model="userProfile.profile.website">
        </div>
        <div class="s4">
            <div class="photo">
                <img src="/user-shadow.svg" alt="">
                <img v-if="userProfile.profilePicture" :src="`${API_ROOT_URL}/artists/${userProfile.login}/profile-picture?refresh-slug=${refreshSlug}`" alt="">
                <input type="file" class="input-file"
                        accept="image/jpeg, image/png"
                        @change="changeProfilePicture">
                <p>{{ t('home_profile_picture') }}</p>
            </div>
        </div>
        <div class="s6 misc">
            <h2 class="h2 mb-2">{{ t('home_professional_activity') }}</h2>
            <input 
                :placeholder="t('field_genres')" type="text" class="input mb-2" 
                v-model="newPreferredStyle"
                @keypress.enter="addPreferredStyle">
            <input type="button" 
                class="ml-1 icon button" 
                value="+"
                v-if="newPreferredStyle.length > 2"
                @click="addPreferredStyle">
            <TagsList class="mb-3" :tags="userProfile.profile.preferedStyles" :writable="true"/>

            <!-- <input type="checkbox" name="" id="">
            <label class="label m-1" for="">{{ t('home_working_on_projects') }}</label>
            <br/>
            <input type="checkbox" name="" id="">
            <label class="label m-1" for="">{{ t('home_looking_for_project') }}</label>
            <br/>   -->
            <h2 class="h2 mt-3 mb-2">{{ t('home_your_technologies') }}</h2>

            
            <input 
                :placeholder="t('home_your_technologies')" type="text" class="input mb-2"
                v-model="newPreferredTechnology"
                @keypress.enter="addPreferredTechnology">
            <input type="button" 
                class="ml-1 icon button" 
                value="+"
                v-if="newPreferredTechnology.length > 2"
                @click="addPreferredTechnology">
            <TagsList :tags="userProfile.profile.preferedTechnologies" :writable="true"/>



        </div>
        <div class="s6 social">
            <h2 class="h2 mb-2">{{ t('home_social_network') }}</h2>
            <input 
                placeholder="Facebook"
                v-model="userProfile.profile.facebook" type="text" class="input mb-1">
            <br>
            <input 
                placeholder="Instagram"
                v-model="userProfile.profile.instagram" type="text" class="input mb-1">
            <br>
            <input 
                placeholder="Snapshat"
                v-model="userProfile.profile.snapchat" type="text" class="input mb-1">
            <br>
            <input 
                placeholder="TikTok"
                v-model="userProfile.profile.tiktok" type="text" class="input mb-1">
            <br>
            <input 
                placeholder="Twitch"
                v-model="userProfile.profile.twitch" type="text" class="input mb-1">
        </div>
        <div class="s12 controls mt-3">
            <button class="cta button mr-3" @click="save">{{ t('field_save_and_publish') }}</button>
            <button class="button" @click="resetProfile">{{ t('field_cancel') }}</button>
    
        </div>
    </div>
</template>

<style>
.photo {
    background: rgb(222, 222, 222);
    height:300px;
    position: relative;
    left: 40px;
    border-radius: 5px;
    padding: 20px;
    transform: rotate(3deg);
    box-shadow: 0 5px 30px #ccc, 0 3px 4px #888;
    transition: all .3s ease;
    width: 250px;
}
.photo:hover {
    box-shadow: 0 5px 30px #ccc, 0 3px 8px #555;
    opacity: .9;
    transition: all .3s ease;

}

.photo p {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: calc(100% - 40px);
    font-family: 'Permanent Marker';
}
.photo img {
    /* background: #fff; */
    border: 0;
    display: block;
    border: 0;
    width: 210px !important;
    max-height: calc(210px);
    position: absolute
}
</style>
