<script setup lang="ts">
    // import { ref } from 'vue'
    // const tags = ['BD', 'n&b', 'toto', ]
    const props = defineProps(['tags', 'writable'])

</script>
<template>
    <ul class="tag-list" v-if="props.tags?.length > 0">
        <li 
            v-for="(tag, $index) in props.tags"
            :key="tag as string" class="tag">
            {{ tag }}
            <!-- TODO: fix props mutation -->
            <button 
                class="button small" 
                v-if="props.writable"
                @click="props.tags.splice($index, 1)">x</button>

        </li>
    </ul>
</template>

<style scoped>
.tag {
    list-style-type: none;
    background-color: #FFD699;
    color: #505050;
    font-weight: bold;
    font-size: .6em;
    display: inline-block;
    padding: .5em;
    min-width: 60px;
    text-align: center;
    border-radius: 5px;
    margin: 0 10px 10px 0;
}
.small.button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0 5px;
}
</style>
