<script setup lang="ts">
import { ref } from 'vue'
import { useI18n } from 'vue-i18n'
import type { TeamMember } from '@/models/TeamMember';
import TagsList from '@/components/TagsList.vue'

const emits = defineEmits(['add-member', 'close'])
const {t} = useI18n()
const member = ref<TeamMember>({
    internalLogin: undefined,
    login: undefined,
    picture: undefined,
    tags: []
})
const tagToAdd = ref('')

function addTag() {
    member.value.tags!.push(tagToAdd.value)
    tagToAdd.value = ''
}

function addTeamMember() {
    emits('add-member', member.value)
    emits('close')
}
</script>

<template>
    <div class="modal-layout" @click="emits('close')">
        <section class="modal-container" @click.stop="">
            <h2 class="h2 mb-2">{{ t('field_add_member') }}</h2>
            <input type="text" class="mb-2 input" 
                    v-model="member.internalLogin"
                    :placeholder="t('field_internal_id')">
            <input type="text" class="mb-2 input" 
                    v-model="member.login"
                    :placeholder="t('home_login')">
            <!-- <input type="text" class="mb-2 input" 
                    v-model="member.picture"
                    :placeholder="t('')"> -->
            <input type="text" class="mb-2 input" 
                    v-model="tagToAdd"
                    @keypress.enter="addTag"
                    :placeholder="t('field_add_role_tag')">
            <TagsList :tags="member.tags"/>
            <button class="button cta"
                    @click="addTeamMember">{{ t('field_save') }}</button>
        </section>
    </div>
</template>

<style scoped>
.modal-layout {
    background: #000000cc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.modal-container {
    background: #eee;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    margin: calc(50vh - 250px) calc(50vw - 250px);
    box-sizing: border-box;
    padding: 25px;
    box-shadow: 0 5px 50px #000;
}
</style>
