/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary: #4d32a8;
  --secondary: #cb8637;

  --text-primary: #404040;
  --text-secondary: #929292;
  
  --background-primary: #e0e0e0;
  --background-secondary: #242424;

  --good: #4fad6d;
  --dangerous: #ad4f4f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

body {
  color: var(--text-primary);
  font-family: SansSerif, sans-serif;
}
