@import './base.css';
/* FIXME: switch to locally imported fonts, but doesn't work ATP. */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    font-family: sans-serif;
}
body {
    background: #eee url('/global-background-2.png') fixed;
    background-size: cover;
}

.container {
    /* border: 1px solid #ccc; */
    padding: 20px 70px 120px 20px;
    border-radius: 12px;
    max-width: 1200px;
    width: 100%;
    margin: 0 calc(50vw - 600px);
}
@media (max-width: 1200px) {
    .container {
        margin: 0;
    }
    
}

.h1 {
    font-family: 'Bangers';
    font-size: 2em;
}
.h2 {
    font-family: 'Bangers';
    font-size: 1.5em;
    color: #555;
    position: relative;
    top: -20px;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}
.h3 {
    font-family: 'Bangers';
    color: #888
}
.p, .label {
    font-size: 1em;
    color: #888;
    line-height: 1.4em;
}
.a, .link {
    color: #888;
}

.input {
    padding: 5px 20px;
    border: 1px solid #bbb;
    border-radius: 3px;
    /* font-family: 'Permanent Marker'; */
    font-family: 'Pacifico';
    color: #173255
}

.button {
    padding: 8px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Permanent Marker';
    background-color: #fff;
    color: #555;
    font-weight: bold;
    box-shadow: 0 5px 10px #00000055;
    cursor: pointer;
    transition: all .3s ease;
}

.icon.button {
    border: 2px solid #888;
    color: #888;
    font-weight: bold;
    padding: 5px 9px;
    border-radius: 50%;
    font-style: normal !important;
    font-family: sans-serif;
    background-color: transparent;
}
.light {
    padding: 8px 20px;
    border: 1px solid #aaa;
    background-color: #ffffff11;
    border-radius: 20px;
    color: #eee;
    font-weight: normal;
    cursor: pointer;
    width: fit-content;
    transition: all .3s ease;
}
.light:hover {
    background-color: transparent;
    transition: all .3s ease;
}
.cta {
    border: 1px solid transparent;
    background-color: #5656ff;
    color: #fff;
}
.button.green {
    border: 1px solid transparent;
    background-color: #67a853;
    color: #fff;
}
.button:hover {
    background-color: #ffffff;
    box-shadow: 0 5px 10px #00000088;
    transition: all .3s ease;
}
.cta:hover {
    background-color: #3636ad;
}

.m-1 { margin: 10px; }
.m-2 { margin: 20px; }
.m-3 { margin: 40px; }
.m-4 { margin: 80px; }

.mt-1 { margin-top: 10px; }
.mt-2 { margin-top: 20px; }
.mt-3 { margin-top: 40px; }
.mt-4 { margin-top: 80px; }

.mb-1 { margin-bottom: 10px; }
.mb-2 { margin-bottom: 20px; }
.mb-3 { margin-bottom: 40px; }
.mb-4 { margin-bottom: 80px; }

.ml-1 { margin-left: 10px; }
.ml-2 { margin-left: 20px; }
.ml-3 { margin-left: 40px; }
.ml-4 { margin-left: 80px; }

.mr-1 { margin-right: 10px; }
.mr-2 { margin-right: 20px; }
.mr-3 { margin-right: 40px; }
.mr-4 { margin-right: 80px; }


.grid { 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    row-gap: 20px;
}

.s1 { grid-column: span 1; }
.s2 { grid-column: span 2; }
.s3 { grid-column: span 3; }
.s4 { grid-column: span 4; }
.s5 { grid-column: span 5; }
.s6 { grid-column: span 6; }
.s7 { grid-column: span 7; }
.s8 { grid-column: span 8; }
.s9 { grid-column: span 9; }
.s10 { grid-column: span 10; }
.s11 { grid-column: span 11; }
.s12 { grid-column: span 12; }


.input-file {
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 9;
}
.input-file::parent::before {
    content: '⮉';
    color: #fff;
    font-size: 80px;
    position: relative;
    top : 30px;
    left: 50px;;
    z-index: 99;;
    opacity: 1;
}






.main-illustration {
    background: #555;
    border-radius: 10px;
    height: 300px;
    width: 400px;
    overflow:hidden;
    box-shadow: 0 5px 15px #000000cc;
}

.main-illustration .picture {
    width: 400px;
    width: 100%;
}

.center {
    text-align: center;
}



/*
 Team members part
 */
.team.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.team.list .member {
    width: 180px;
    height: 210px;
    background: rgb(20, 20, 20);
    list-style-type: none;
    border-radius: 5px;
    box-shadow: 0 3px 12px #333;
    padding: 10px;
    overflow: hidden;
}
.team.list .member .button {
    color: #222;
}

.team.list .member .user-photo {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
    transition: all .3s ease;
}
.team.list .member:hover .user-photo {
    opacity: .6;
    transition: all .3s ease;
}

.team.list .member .h3 {
    color: #fff;
}

.team.list .member .button {
    color: #888;
    padding: 2px 15px;
    z-index: 9;
}

.team.list .member .remove {
    background-color: red;
    color: #fff;
    padding: 3px 5px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: -30px;
    z-index: 9;
    cursor: pointer;
    transition: all .3s ease;
}

.team.list .member:hover .remove {
    transition: all .3s ease;
    top: 10px;
}
.team.list .member .button:hover {
    color: #555;
}

.team.list .add-member {
    list-style-type: none;
    background-color: #9FC272;
    color: #fff;
    position: relative;
    cursor: pointer;
}
.team.list .add-member label {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    font-size: .8em;
    font-weight: bold;
    text-align: center;
}
.team.list .add-member span {
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 50px);
    border: 8px solid #fff;
    border-radius: 50%;
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 45px;
    padding-top: 12px;
    font-weight: bold;
}








/*
 Sources part
 */
.sources .source:nth-child(2n) {
    flex-direction: row-reverse;
    justify-content: left;
}

.source {
    display: flex;
    list-style-type: none;
    margin-bottom: 80px;
}
.source .illustrations {
}

.source .illustration {
    width: 240px;
}
.source .description .input {
    min-height: 120px;
}
.source .external-inspiration {
    background: #ddd;
    border: 1px solid #aaa;
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
    border-radius: 10px;
}
.source .illustration-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 480px;
    height: 340px;
    gap: 10px;
}
.source .illustration-grid :first-child {
    grid-row: span 2;
}



/*
 Heroes part
 */

.hero {
    display: flex;
    width: 100%;
    max-width: 1000px;
}
.hero .large-col {
    width: calc(100% - 0px);
}
.hero .illustration {
    height: 220px;
    width: 200px;
    transform: rotate(-4deg);
    box-shadow: 0 5px 16px #333;
    background: #333;
}
.heroes :nth-child(2n) .illustration {
    transform: rotate(4deg);
}
.hero .description {
    width: 100%;
    height: 150px;
}





/* 
    Places section
*/
.place {
    background-color: #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 50px;
    min-height: 330px;
}
.place .input {
    background-color: transparent;
    color: #eee;
    text-align: center;
    border-color: #444;
    cursor: pointer;
    transition: all .3s ease;
    /* backdrop-filter: blur(5px); */
}
.place .center {
    margin: 0 auto;
}
.place > * {
    z-index: 1;
}
.place .illustration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .3;
    filter: blur(5px);
}