<script setup lang="ts">
import { API_ROOT_URL } from './api/main'
import { ref } from 'vue'
import { useRouter, RouterLink, RouterView } from 'vue-router';
import { useI18n } from 'vue-i18n';
import { useUserStore } from '@/stores/user'
import NotificationHandler from '@/components/globalNotificationHandler.vue'

const { t } = useI18n({ useScope: 'global' })

// Init store from local storage if exists
const router = useRouter()
const userStore = useUserStore()
userStore.initFromSessionStorage()

</script>

<template>
  <header id="nav">
        <nav>
          <img src="/eu-sponsor.png" class="sponsor" alt="">
          <menu>
            <RouterLink class="item" to="/"
                v-if="userStore.user?.login">
                <img v-if="userStore.user.profilePicture" :src="`${API_ROOT_URL}/artists/${userStore.user.login}/profile-picture`" class="profile-picture" alt="">
                {{ userStore.user.login }}</RouterLink>
            <RouterLink class="item" to="/projects"
                v-if="userStore.user.login">{{ t('all_projects_title') }}</RouterLink>
            <a class="item" href="#" 
              v-if="userStore.user.access_token"
              @click="userStore.disconnect">Déconnexion</a>
          </menu>
        </nav>
        <select class="locale-changer" v-model="$i18n.locale">
          <option v-for="locale in $i18n.availableLocales" 
              :key="`locale-${locale}`" 
              :value="locale">{{ locale.split('-')[1] }}</option>
        </select>        
  </header>

  <RouterView class="main" />
  <NotificationHandler />
</template>

<style scoped>
@import 'assets/base.css';
header {
  border-top: 5px solid #9999FF;
}
#nav {
  z-index: 100;
  position: fixed;
  width: 100%;
  min-height: 58px;
  background: #9999FF;
  border-radius: 0 0 5px 5px;
  margin: 0 auto;
  padding-bottom: 5px;
  top: 0;
  
}
#nav menu {
  text-align: center;
  position: relative;
  right: 100px;
}
#nav .item {
  display: inline-block;
  padding: 10px 20px;
  min-width: 170px;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 3px;
  font-family: 'Permanent Marker';
  overflow-y: hidden;
  margin-right: 10px;
}
#nav .item:hover {
  color: #fff;
  background: #ffffff33;
}

img.sponsor {
  height: 40px;
  position: absolute;
  top: 5px;
  left: 30px;
}
.profile-picture {
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
  border-radius: 50%;
  position: relative;
  left: -10px;
  top: 4px;
  overflow: hidden;
  color: transparent;
}
.locale-changer {
  position: absolute;
  bottom: 13px;
  right: 13px;
  padding: 8px 15px;
  border-radius: 3px;
}
.locale-changer * {
  padding: 5px !important;
  background: #ffffff55;
  color: #555;
  font-weight: bold;
}

.main {
  margin-bottom: 50px;
}
</style>
