<script setup lang="ts">
import { ref } from 'vue'
import { signIn, signUp } from '@/api/main'
import { useRouter } from 'vue-router'
import { useUserStore } from '@/stores/user'
import { useI18n } from 'vue-i18n'


type Form = {
    login: string
    password: string
    signupMode: boolean
    name?: string
    email?: string
    errorMessage?: string
}

const router = useRouter()
const userStore = useUserStore()
const { t } = useI18n({useScope: 'global'})
const FORM = ref <Form> ({
    login: '',
    password: '',
    signupMode: false,
})

// If user is authenticated, redirects it to it's profile
if (userStore.user.access_token) {
  router.push(`/profile/${userStore.user.login}`)
}


function handleSignUp() {
    const form = FORM.value
    form.errorMessage = undefined
    if (!form.signupMode) {
        form.signupMode = true
        return
    }
    if (form.login && form.password && form.email && form.name) {
        console.log('Handle signup', JSON.parse(JSON.stringify(form)))
        let statusCode: number
        signUp(form.login, form.password, form.name, form.email)
            .then((response => {
                console.debug(response)
                statusCode = response.status
                return response.json()
            }))
            .then(data => {
                if (statusCode >= 300) {
                    console.log('ERROR MESSAGE ', data)
                    form.errorMessage = data.message
                }
                else {
                    delete(data['password'])
                    console.log("Login user and saving it to store:", data)
                    userStore.connect(data)
                    router.push(`/profile/${data.login}`)
                }
            })
    }
    else {
        console.error('You should fill all the fields before signing up.')
    }
}

function handleSignIn() {
    const form = FORM.value
    let statusCode: number
    console.log('Handle signin', JSON.parse(JSON.stringify(FORM.value)))
    form.errorMessage = undefined

    signIn(form.login, form.password)
        .then((response => {
            console.debug(response)
            statusCode = response.status
            return response.json()
        }))
        .then(data => {
            if (statusCode >= 300) {
                console.log('ERROR MESSAGE ', data)
                form.errorMessage = data.message
            }
            else {
                delete(data['password'])
                // Check for Profile picture existence, then update store
                // FIXME: use variable instead of hard coded value
                fetch('https://api-comix.asciiparait.fr/artists/' + data.login + '/profile-picture')
                    .then(response => { 
                        data.profilePicture = response.status === 200 
                        console.log("Login user and saving it to store:", data)
                        userStore.connect(data)
                        router.push(`/profile/${data.login}`)
                    })
            }
        })
        .catch(error => {
            console.error(error)
        })
}


</script>


<template>
    <div v-if="FORM.errorMessage" class="error message">{{ FORM.errorMessage }}</div>
    <form class="authentication container" @submit.stop.prevent="() => {}">
        <div class="col">
            <h1 class="h1 mt-3 mb-3">{{ t('title') }}</h1>
            <img class="logo" src="/eu-sponsor.png" alt="co-funded by the Erasmus + program of the European Union"/>
            <p class="catchphrase mb-3">{{ t('sigup_catch_phrase') }}</p>
        </div>

        <div class="col">
            <input type="text" class="input m-2"
                :placeholder="t('home_login')"
                v-model="FORM.login"/>
            <input type="password" class="input m-2"
                :placeholder="t('field_password')"
                v-model="FORM.password"/>
                <div v-if="FORM.signupMode" class="signup-form">
                    <input type="text" class="input m-2"
                        :placeholder="t('field_name')"
                        v-model="FORM.name"/>
                    <input type="email" class="input m-2"
                        :placeholder="t('field_mail')"
                        v-model="FORM.email"/>
                    
                </div>
            <button 
                v-if="FORM.signupMode"
                @click="handleSignUp"
                class="cta button m-2">{{ t('field_signup') }}</button>    
            <button
                v-if="!FORM.signupMode"
                @click="handleSignIn"
                class="button m-2">{{ t('field_signin') }}</button>
            
            <button 
                    v-if="!FORM.signupMode"
                    @click="FORM.signupMode = true"
                    class="button link m-2">{{ t('field_signup') }}</button>
            <button 
                v-if="FORM.signupMode"
                @click="FORM.signupMode = false"
                class="button link m-2">{{ t('field_signin') }}</button>
        </div>
        <!-- <div class="chapo">
        </div>  -->
    </form>
</template>


<style scoped>
.chapo {
    min-width: 100%;
    text-align: center;
}
.col .logo {
    max-width: 300px;
    display: block;
    margin : 0 auto;
}
.authentication {
    width: 100%;
    min-height: 400px;
    max-width: 550px;
    margin: calc(20vh - 100px) auto;
}

@media (min-width: 900px) {
    .authentication {
        min-width: 950px;
        width: 80%;
        max-width: 1100px;
        margin: calc(20vh - 100px) calc(50vw - 450px);
        display: flex;
        flex-wrap: wrap;
    }
    .authentication .col {
        width: 50%;
    }
    .authentication .col:nth-child(2) {
        padding-top: 100px;
    }

}

.input, .button {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link, .link:hover {
    color:rgb(107, 163, 206);
    text-align: center;
    background-color: transparent;
    display: block;
    box-shadow: none;
    font-family: inherit;
    border: none;
    font-weight: normal;
}
.link:hover {
    color:rgb(63, 120, 163);
}
.error.message {
    background-color: rgb(165, 42, 77);
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    margin: 0 auto;
}
.catchphrase {
    margin-top: 64px;
    text-align: center;
    line-height: 1.4em;
    max-width: 800px;
    margin: 64px auto;
    font-style: italic;
    color: #888;
    padding: 0 20px;
}
</style>
