<script lang="ts" setup>
import { useRoute } from 'vue-router'
import { useUserStore } from '@/stores/user'
import { ref } from 'vue'
import ProfileEditionView from '@/components/ProfileEditionView.vue'
import ProfileView from '@/components/ProfileView .vue'
import { getProfile } from '@/api/main'

const route = useRoute()
const userStore = useUserStore()
const profileLogin: string = route.params.login as string
const profile = ref({})

console.log('PROFILE LOGIN', profileLogin)
getProfile(profileLogin)
    .then(response => {
        return response.json()
    })
    .then(data => {
        console.log('PROFILE CONTENT', data)
        profile.value = data
    })


</script>

<template>
    <section class="profile container mt-4 grid">
        <ProfileEditionView v-if="profileLogin === userStore.user.login"/>
        <ProfileView v-else :profile="profile"/>
    </section>
</template>