<script setup lang="ts">
import { ref } from 'vue'
import { useRoute, useRouter } from 'vue-router';
import { useI18n } from 'vue-i18n';
import { useProjectstore } from '@/stores/project';
import { useUserStore } from '@/stores/user';
import { useNotifications } from '@/stores/notifications';
import type { Ref } from 'vue';
import type { TeamMember } from '@/models/TeamMember';
import type { Project, Inspiration } from '@/models/Project';
import { API_ROOT_URL, updateProject, uploadProjectResource, getProject } from '@/api/main'
import TagsList from '@/components/TagsList.vue'
import ImageContainer from '@/components/ImageContainer.vue';
import TeamMemberCreationModal from '@/components/TeamMemberCreationModal.vue';
import ExternalResourceHandler from '@/components/ExternalResourceHandler.vue';

const {t} = useI18n()
const route = useRoute()
const router = useRouter()
const projectStore = useProjectstore()
const user = useUserStore().user
const notificationsStore = useNotifications()
const project = ref(projectStore.project)
const newTag = ref('')
const newInspiration = ref<Inspiration>({ description: '', links: ['', '',''] })
const displayAddMemberModal = ref(false)
const showExternalResourceHandler = ref(false)
const selectedResourceHolder = ref(-1)

// Picture refresh slugs
const resourceSlug = ref('')

function addNewTag() {
    project.value.keywords.push(newTag.value)
    newTag.value = ''
}

function addTeamMember(member: TeamMember) {
    project.value.team.push(member)
    saveProject()
}

function addInspiration() {
    project.value.inspirations.push(JSON.parse(JSON.stringify(newInspiration.value)))
    newInspiration.value.description = ''
    newInspiration.value.links = ['','','']  // FIXME: used to quickfix 500 error (case of empty first illustration)
    saveProject()
}

function addInspirationIllustration(inspiration: Inspiration) {
    console.log(inspiration)
    inspiration.links.push(inspiration.linkToAdd!)
    inspiration.linkToAdd = ''
}

/**
 * This method load the requested project (if any) and if it exists.
 * It's called at view creation & update and relies on the route
 */
function loadProjectIfExists() {
    if (route.params.projectId) {
        getProject(route.params.projectId as string)
            .then(response => response.json())
            .then(data => {
                console.log('LOAD PROJECT FROM API', data)
                project.value = data
            })
    }
}

function saveProject() {
    if (project.value._id) {
        (project.value as any)._id = project.value._id['$oid']
    }
    addUserAsAuthor()

    updateProject(project.value)
        .then(response => response.json())
        .then(responseProject => {
            project.value = responseProject
            console.log("PROJECT SAVE API", project.value)
            router.push(`/edit-project/${project.value._id?.$oid}`)
            notificationsStore.showNotification('Project saved')
        })
}


function addUserAsAuthor() {
    if (project.value.team.length > 0) {
        return
    }
    addTeamMember({
        internalLogin: user.login,
        tags: ['author']
    })
}

function addProjectResource(ev: Event, fileName: string) {
    console.log((ev.target as any).files[0])
    uploadProjectResource(user.login, project.value._id?.$oid as string, (ev.target as any).files[0], fileName)
        .then(response => {
            console.log('coucou', response)
            resourceSlug.value = Math.floor(Math.random() * 100000).toString()
        })
}

function selectResourceHolder(index: number) {
    selectedResourceHolder.value = index
    showExternalResourceHandler.value = true
    
}

function selectResource(url: string) {
    if (selectedResourceHolder.value >= 0) {
        newInspiration.value.links[selectedResourceHolder.value] = url
        selectedResourceHolder.value = -1
        showExternalResourceHandler.value = false
    }
}
function closeResourceHandler() {
    selectedResourceHolder.value = -1
    showExternalResourceHandler.value = false
}

loadProjectIfExists()

</script>
<template>
    <section class="profile container mt-4">
        <h1 class="h1" v-if="!project._id">{{ t('projects_new_project') }}</h1>
        <h1 class="h1" v-else>{{ project.name }}</h1>


        <!-- 
            Project presentation part
         -->
        <h2 class="h2 mt-3 mb-2">{{ t('projects_presentation') }}</h2>
        <input type="text" class="mb-2 input"
        :placeholder="t('field_project_name')"
        v-model="project.name">
        <br>
        <input type="text" class="mb-2 input"
            :placeholder="t('field_keywords')"
            v-model="newTag"
            @keypress.enter="addNewTag">
        <input type="button" 
            class="ml-1 icon button" 
            value="+"
            v-if="newTag.length > 2"
            @click="addNewTag">
        <TagsList :tags="project.keywords" :writable="true"/>
        <br>
        <textarea class="input description"
            :placeholder="t('field_summary')"
            v-model="project.presentation"></textarea>

        <div class="center mt-4" v-if="!project._id">
            <button class="cta button" @click="saveProject">{{t('field_create_project')}}</button>
        </div>
        
        <!-- 
            Project main illustration part
         -->
        <section class="illustration-section" v-if="project._id">
            <h2 class="h2 mt-4 mb-2">{{ t('projects_main_illustration') }}</h2>
            <div class="main-illustration">
                <input type="file" class="input-file"
                accept="image/jpeg, image/png"
                @change="addProjectResource($event, 'cover.jpg')">
                <img src="" alt="" class="default">
                <img :src="`${API_ROOT_URL}/artists/${user.login}/projects/${project._id?.$oid}/resources/cover.jpg?${resourceSlug}`" alt="" class="picture">
            </div>
        </section>
            

        <!-- 
            Project team part
         -->
        <section class="team-section" v-if="project._id">
            <h2 class="h2 mt-4 mb-2">{{ t('projects_team') }}</h2>
            <ul class="team list">
                <li 
                    v-for="member, index in project.team"
                    :key="index"
                    class="member">
                    <button class="remove" @click="project.team.splice(index,1)">✘</button>
                    <button class="button" @click="router.push(`/profile/${member.internalLogin}`)" v-if="member.internalLogin">{{ member.internalLogin }}</button>
                    <h3 class="h3" v-else>{{ member.login }}</h3>
                    <img :src="`/user-shadow.svg`" alt="" class="user-photo"
                            v-if="!member.internalLogin">
                    <img :src="`${API_ROOT_URL}/artists/${member.internalLogin}/profile-picture`" alt="" class="user-photo">
                    <TagsList class="mt-2" :tags="member.tags"/>
                </li>
                <li class="add-member member" @click="displayAddMemberModal = true">
                    <span>+</span> 
                    <label>{{ t('field_add_member') }}</label>
                </li>
            </ul>
        </section>



        <!-- 
            Project sources part
         -->
        <section class="sources-section" v-if="project._id">
            <h2 class="h2 mt-4 mb-2">
                {{ t('projects_sources') }}
            </h2>
            <ul class="sources">
                <li class="source mt-3">
                    <div class="illustrations mr-2">

                        <div class="illustration-grid">
                            <ExternalResourceHandler
                                :visible="showExternalResourceHandler"
                                @close="closeResourceHandler()"
                                @select="selectResource"/>
                            <!-- <ImageContainer :src="newInspiration.links[0]"/> -->
                            <img :src="newInspiration.links[0]" onerror="this.src='/fallback-img.png'" @click="selectResourceHolder(0)" class="external-inspiration" alt="">
                            <!-- <ImageContainer :src="newInspiration.links[1]"/> -->
                            <img :src="newInspiration.links[1]" onerror="this.src='/fallback-img.png'" @click="selectResourceHolder(1)" class="external-inspiration" alt="">
                            <!-- <ImageContainer :src="newInspiration.links[2]"/> -->
                            <img :src="newInspiration.links[2]" onerror="this.src='/fallback-img.png'" @click="selectResourceHolder(2)" class="external-inspiration" alt="">
                        </div>
                    </div>
                    <div class="description">
                        <h3 class="h3 mt-1 mb-2">{{ t('field_add_inspiration') }}</h3>
                        <textarea class="input" 
                            v-model="newInspiration.description"
                            :placeholder="t('field_projects_source_description')"></textarea>
                        <br>
                        <button v-if="newInspiration.description.length >= 10" class="mt-2 cta button" @click="addInspiration">{{ t('field_add') }}</button>
                    </div>
                </li>
                <li class="source mt-3"
                    v-for="inspiration, index in project.inspirations"
                    :key="index">
                    <button class="delete" @click="project.inspirations.splice(index, 1) && saveProject()">x</button>
                    <div class="illustrations mr-2 ml-2">
                        <div class="illustration-grid">
                            <img :src="inspiration.links[0]" class="external-inspiration" v-if="inspiration.links[0]?.length > 0">
                            <img :src="inspiration.links[1]" class="external-inspiration" v-if="inspiration.links[1]?.length > 0">
                            <img :src="inspiration.links[2]" class="external-inspiration" v-if="inspiration.links[2]?.length > 0">
                        </div>
                    </div>
                    <div class="description">
                        <h3 class="h3 mb-2">{{ t('projects_source') + ' ' + (index + 1) }}</h3>
                        <p class="input" 
                            :placeholder="t('field_projects_source_description')">{{ inspiration.description }}</p>
                    </div>
                </li>
            </ul>
            <div class="center">
                <button class="cta button mt-1 mr-2"
                        @click="saveProject">{{ t('field_save') }}</button>
                <button class="cta button mt-1 green" 
                        v-if="project._id"
                        @click="router.push(`/edit-project-details/${project._id?.$oid}`)">{{ t('projects_presentation') }}</button>
            </div>
        </section>
            

        <!-- 
            Workin methods part
            -->
        <!-- <section class="methods-section" v-if="project._id">
            <h2 class="h2 mt-4 mb-2">{{ t('projects_working_method') }}</h2>
            <div class="method">
                <ImageContainer 
                        class="illustration"
                        :src="`${API_ROOT_URL}/artists/${user.login}/projects/${project._id?.$oid}/resources/cover.jpg`"/>
            </div>
        </section> -->
    </section>
    <TeamMemberCreationModal 
            v-if="displayAddMemberModal"
            @add-member="addTeamMember"
            @close="displayAddMemberModal = false"/>
</template>

<style>
.input {
    width: 400px;
}
.input.description {
    width: 60%;
    height: 7em;
}









.method {
    background-color: #111;
    border-radius: 10px;
}

.method .illustration {
    height: 300px;
    width: 100%;
    opacity: .5;
}

button.delete {
    background: #f00;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    padding: 3px 8px 13px 8px;
    color: #fff;
    position: absolute;
    top: -0px;
    left: -40px;
    box-shadow: 0 5px 16px #00000088;
}


</style>
