<script setup lang="ts">
import { ref } from "vue"
import { stringifyQuery, useRoute, useRouter } from 'vue-router'
import { useI18n } from 'vue-i18n'
import { useProjectstore } from '@/stores/project';
import { useNotifications } from '@/stores/notifications';
import { useUserStore } from '@/stores/user';
import { API_ROOT_URL, updateProject, uploadProjectResource, getProject, getProjectFiles } from '@/api/main'
import { Cropper, Preview } from 'vue-advanced-cropper';
import 'vue-advanced-cropper/dist/style.css';



const {t} = useI18n()
const projectStore = useProjectstore()
const route = useRoute()
const user = useUserStore().user
const notificationsStore = useNotifications()
const project = ref(projectStore.project)

const selectedImageIndex = ref(-1)
const cropper = ref(null)
const aspectRatio = ref(4/5)
const minAspectRatio = ref(4/5)
const maxAspectRatio = ref(4/5)

let globalCoordinates = ref({
    width: 0,
    height: 0,
    left: 0,
    top: 0,
})
let globalImage = ref(null)
let result = ref({
    coordinates: null,
    image: null
})



// TODO: move that function, also defined in ProjectDetailsEditionView.vue
//       to a same given place
/**
 * This method load the requested project (if any) and if it exists.
 * It's called at view creation & update and relies on the route
 */
 function loadProjectIfExists() {
    if (route.params.projectId) {
        getProject(route.params.projectId as string)
            .then(response => response.json())
            .then(data => {
                console.log('LOAD PROJECT FROM API', data)
                project.value = data
                getProjectFiles(project.value.author_name!, project.value._id!.$oid)
                    .then(response => response.json())
                    .then(data => {
                        project.value.calculatedFiles = JSON.parse(JSON.stringify(data))
                    })
            })
    }
}

function selectImageToShare(index: number) {
    selectedImageIndex.value = index
}


function change(evt: any) {
    const coordinates = evt.coordinates;
    const canvas = evt.canvas;
    result.value = {
        coordinates: (coordinates as any),
        canvas: (canvas as any)
    } as any;
    globalCoordinates.value = coordinates;
    globalImage.value = canvas.toDataURL();
}

function crop() {
    // window.open(globalImage.value, '_blank');
    const link = document.createElement("a");
    link.href = (globalImage.value as unknown as string);
    link.download = `${project.value.name}-export.png`;
    link.click();
    setTimeout(() => {
        notificationsStore.showNotification(t('comunity_how_to_step-3'))
        selectedImageIndex.value = -1
    }, 500)
}


loadProjectIfExists()



</script>

<template>
    <section class="share container mt-4" v-if="project._id">
        <h1 class="h1"> {{  project.name }}</h1>

        <!-- <h2 class="h2"> {{  t('communication_trailers_spinoffs') }}</h2>
        <h2 class="h2"> {{  t('communication_posters') }}</h2>
        <h2 class="h2"> {{  t('communication_posters') }}</h2> -->

        <section class="step" :class="{'done': selectedImageIndex >= 0}">
            <h2 class="h2"> {{  t('field_go_to_project_communication') }}</h2>
                <h3 class="h3 mb-2">
                    <span class="step">1</span>
                    {{ t('comunity_how_to_step-1') }}
                </h3>
                <img @click="selectedImageIndex !== $index? selectImageToShare($index) : selectImageToShare(-1)" v-for="(url, $index) in project.calculatedFiles" :key="url" 
                        :class="{'mr-2': true, 'mb-2': true, 'illustration': true, 'active':$index === selectedImageIndex }"
                        :src="`${API_ROOT_URL}${url}`" alt="Project illustration">
        </section>

        <section class="step" :class="{'done': selectedImageIndex >= 9990}" v-if="selectedImageIndex >= 0">
            <h2 class="h2"> {{  t('field_go_to_project_communication') }}</h2>
                <h3 class="h3 mb-2">
                    <span class="step">2</span>
                    {{ t('comunity_how_to_step-2') }}
                </h3>
                <p>
                    <img class="ratio-icon" src="/landscape.svg" @click="aspectRatio = 2/1;"/>
                    <img class="ratio-icon" src="/portrait.svg" @click="aspectRatio = 1/2;"/>
                    <img class="ratio-icon" src="/square.svg" @click="aspectRatio = 1;"/>
                    <!-- <img src="/tiktok.png" @click="aspectRatio = 1"/> -->
                    <!-- <a href="https://www.flaticon.com/free-icons/save" title="save icons">Save icons created by mavadee - Flaticon</a> -->
                </p>
                <div class="cropper-wrapper">
                    <Cropper
                        ref="cropper"   
                        :stencil-props="{
                            aspectRatio: aspectRatio,
                            minAspectRatio: minAspectRatio,
                            maxAspectRatio: maxAspectRatio,
                            movable: true,
                        }"
                        :src="`${API_ROOT_URL}${project.calculatedFiles![selectedImageIndex]}`" 
                        :debounce="false"
                        class="cropper"
                        id="cropper"
                        @change="change"
                    />

                    <button class="download button" @click="crop"><img src="/download.png" alt="Download"></button>
                </div> 
        </section>

    </section>
</template>

<style>
section.done * {
    opacity: .6;
}

section.done img.active {
    opacity: 1;
}

.illustration {
    height: 180px;
    box-shadow: 2px 5px 16px #00000055;
    z-index: 1;
    transition: all .3s ease;
}
.active.illustration {
    box-shadow: 2px 5px 24px #00000055;
    transform: rotate(-5deg) scale(1.2);
    z-index: 5;
    transition: all .3s ease;
}
.cropper, .cropper-wrapper {
    height: auto;
    max-height: calc(100vh - 200px);
    max-width: calc(100vw - 200px);
}
.cropper-wrapper img {
    width: 100%;
}
.download.button {
    border-radius: 50%;
    padding: 20px;
    position: relative;
    top: -40px;
    left: 30px;
}
.download.button img {
    height: 32px;
    width: 32px;
}
.ratio-icon {
    width: 32px;
    height: 32px;
    margin: 10px;
    cursor: pointer;
}


</style>
