<script setup lang="ts">
import { onUpdated } from 'vue';
import { useI18n } from 'vue-i18n';
import { useRouter, RouterLink, useRoute } from 'vue-router';
import { ref } from 'vue'
import { API_ROOT_URL, getProjects, updateProject, getProjectFiles } from '@/api/main';
import type { Project } from '@/models/Project';
import { useUserStore } from '@/stores/user';
import ImageContainer from '@/components/ImageContainer.vue'

const route = useRoute()
const router = useRouter()
const { t } = useI18n()
const projects = ref<Array<Project>>([])
const user = useUserStore().user
const projectSearch = ref('')
const searchMode = ref(false)
let personalMode = ref(false)

// Detect personal projects view of browse public project view:
personalMode.value = route.fullPath === '/my-projects'
onUpdated(() => { personalMode.value = route.fullPath === '/my-projects' })

if (personalMode.value) {
    getProjects(user.login)
        .then(response => response.json())
        .then(data => {
            projects.value = data
            for (const project of projects.value) {
                getProjectFiles(project.author_name!, project._id!.$oid)
                    .then(response => response.json())
                    .then(data => {
                        project.calculatedFiles = JSON.parse(JSON.stringify(data))
                    })
            }
        })
}
else {
    getProjects()
        .then(response => response.json())
        .then(data => {
            projects.value = data
            for (const project of projects.value) {
                getProjectFiles(project.author_name!, project._id!.$oid)
                    .then(response => response.json())
                    .then(data => {
                        project.calculatedFiles = JSON.parse(JSON.stringify(data))
                    })
            }
        })
}

function publishProject(project: Project) {
    project.isPublished = true
    updateProject(project)
        .then(response => response.json())
        .then(data => {
            // TODO: notification feedback
        })

}

function unpublishProject(project: Project) {
    project.isPublished = false
    updateProject(project)
        .then(response => response.json())
        .then(data => {
            // TODO: notification feedback
        })
    
}

function searchProjects() {
    searchMode.value = projectSearch.value !== ''
    getProjects(undefined, projectSearch.value)
        .then(response => response.json())
        .then(data => {
            projects.value = data
            for (const project of projects.value) {
                getProjectFiles(project.author_name!, project._id!.$oid)
                    .then(response => response.json())
                    .then(data => {
                        project.calculatedFiles = JSON.parse(JSON.stringify(data))
                    })
            }
        })
}

</script>

<template>
    <section class="profile container mt-4 grid">
        <h1 v-if="!personalMode" class="h1 s12">{{ t('all_projects_title-2') }}</h1>
        <h1 v-else class="h1 s12">{{ t('projects_title') }}</h1>
        <input v-if="!personalMode" type="text" class="left search input s10" placeholder="xxx - search" 
                @keypress.enter="searchProjects"
                v-model="projectSearch"/>
        <button v-if="!personalMode" class="right button s2" 
                @click="searchProjects">🔎</button>
        <section class="s12 gallery mt-3" v-if="!searchMode">
            <ImageContainer 
                    v-if="projects[0]?.calculatedFiles![0]"
                    class="big illustration mr-2"
                    style=""
                    :src="API_ROOT_URL + projects[0].calculatedFiles[0]"/>
            <ImageContainer 
                    v-if="projects[1]?.calculatedFiles![0]"
                    class="big illustration mr-2"
                    style=""
                    :src="API_ROOT_URL + projects[1].calculatedFiles[0]"/>
            <ImageContainer 
                    v-if="projects[2]?.calculatedFiles![0]"
                    class="big illustration mr-2"
                    style=""
                    :src="API_ROOT_URL + projects[2].calculatedFiles[0]"/>

        </section>


        <section class="s12 projects-list">
            <ul class="projects">
                <!-- TODO:
                     Implement whole template integration
                -->
                <li v-for="project in projects" :key="project._id!.$oid" class="project mt-3 mb-4">
                    <h2 class="h2 mt-2 mb-2">{{ project.name}}</h2>
                    <p class="caption">
                        By <RouterLink :to="'/profile/' + project.author_name">{{ project.author_name }}</RouterLink>
                        <span v-for="user in project.team.filter(user => user.internalLogin !== project.author_name)" :key="user">, 
                            <RouterLink v-if="user.internalLogin" :to="'/profile/' + user.internalLogin">{{ user.internalLogin }} </RouterLink>
                            <span v-else>{{ user.login }}</span>
                        </span>
                    </p>
                    <p class="mt-3 mb-3">{{ project.presentation }}</p>
                    <img v-for="path in Math.max(0, Math.min(8, (project.calculatedFiles!.length - 1)))" 
                            :key="path"
                            :src="`${API_ROOT_URL}${project.calculatedFiles![path]}`" alt="illustration" class="illustration mr-2">
                            <!-- {{project.calculatedFiles.length }} -->
                    <div class="mt-2">
                        <button class="button mr-2 cta"
                                v-if="project.author_name === user.login"
                                @click="router.push(`/edit-project/${project._id?.$oid}`)">{{ t('field_modify') }}</button>
                        <button class="button mr-2"
                                v-else
                                @click="router.push(`/projects/${project._id?.$oid}`)">{{ t('field_view') }}</button>
                                <button class="button mr-2"
                                v-if="project.author_name === user.login"
                                @click="router.push(`/projects/${project._id?.$oid}`)">👁</button>
                        <button class="button mr-2"
                                v-if="!project.isPublished && project.author_name === user.login"
                                @click="publishProject(project)">{{ t('field_publish') }}</button>
                        <!-- <button class="button mr-2"
                                v-else-if="project.author_name === user.login"
                                @click="unpublishProject(project)">XXX - Masquer</button> -->
                    </div>
                </li>

            </ul>
        </section>
    </section>


</template>

<style>

.gallery {
    height: 350px;
}
.big.illustration {
    display: inline-block;
    height: calc(100% - 40px);
    min-height: calc(100% - 40px);
    max-height: calc(100% - 40px);
    width: 500px;
    border-radius: 5px;
    background-color: #ddd;
    position: absolute;
    box-shadow: 0 5px 40px #00000055;
}
.gallery :nth-child(2) {
    left: calc(50% - 250px);
    z-index: 9;
}
.gallery > :nth-child(1), .gallery > :nth-child(3) {
    transform: scale(70%);
    top: 30px;
}
.gallery :nth-child(3) {
    right: 0;
}


.projects .project::before {
    content: '';
    display: block;
    border-top: 3px solid #333;
    width: 300px;
    height: 0;
}

.projects .project {
    list-style: none;   
}
.projects .h2 {
    margin: 20px 0 10px 0 !important;
}

.projects .caption {
    color: #888;
}

.projects .project .illustration {
    /* max-width: 120px; */
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    display: inline-block;
    border-radius: 5px;
    background-color: #ddd;
    margin-bottom: 12px;
}

.caption a {
    color:#888;
    text-transform: capitalize;
}
.caption a:hover {
    color:#aaa;
}

.input {
    width: auto !important;
}
.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}
.right {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

</style>
