<script setup lang="ts">
import { ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { getProject } from '@/api/main';
import { useProjectstore } from '@/stores/project';
import { useI18n } from 'vue-i18n';
import TagsList from '@/components/TagsList.vue';
import ImageContainer from '@/components/ImageContainer.vue';
import { API_ROOT_URL } from '@/api/main';
import type { Project } from '@/models/Project';

const route = useRoute()
const router = useRouter()
const projectStore = useProjectstore()
const project = ref<Project>(projectStore.project)
const { t } = useI18n()


/**
 * This method load the requested project (if any) and if it exists.
 * It's called at view creation & update and relies on the route
 */
function loadProjectIfExists() {
    if (route.params.projectId) {
        getProject(route.params.projectId as string)
            .then(response => response.json())
            .then(data => {
                console.log('LOAD PROJECT FROM API', data)
                project.value = data
            })
    }
}

loadProjectIfExists()

</script>

<template>
    <section class="profile container mt-4">
        <h1 class="h1" >{{ project.name }}</h1>

        <div class="main-illustration mt-2">
                <img :src="`${API_ROOT_URL}/artists/${project.author_name}/projects/${project._id?.$oid}/resources/cover.jpg`" alt="" class="picture">
            </div>
        <!-- <ImageContainer 
                class="main-illustration"
                :src="`${API_ROOT_URL}/artists/${project.author_name}/projects/${project._id?.$oid}/resources/cover.jpg`"/> -->
        <h2 class="h2 mt-4">{{ t('projects_presentation') }}</h2>

        <TagsList :tags="project.keywords"/>
        <p class="p">{{ project.presentation }}</p>


        <!-- 
        Project team part
        -->
        <section class="team-section mt-4" v-if="project._id">
            <h2 class="h2 mt-4 mb-2">{{ t('projects_team') }}</h2>
            <ul class="team list">
                <li 
                    v-for="member, index in project.team"
                    :key="index"
                    class="member">
                    <button class="button" @click="router.push(`/profile/${member.internalLogin}`)" v-if="member.internalLogin">{{ member.internalLogin }}</button>
                    <h3 class="h3" v-else>{{ member.login }}</h3>
                    <img :src="`/user-shadow.svg`" alt="" class="user-photo"
                            v-if="!member.internalLogin">
                    <img :src="`${API_ROOT_URL}/artists/${member.internalLogin}/profile-picture`" alt="" class="user-photo">
                    <TagsList class="mt-2" :tags="member.tags"/>
                </li>
            </ul>
        </section>



        <!-- 
            Project sources part
         -->
         <section class="sources-section mt-4" v-if="project._id">
            <h2 class="h2 mt-4 mb-2">
                {{ t('projects_sources') }}
            </h2>
            <ul class="sources">
                <li class="source mt-3"
                        v-for="inspiration, index in project.inspirations"
                        :key="index">
                    <div class="illustrations mr-2 ml-2">
                        
                        <div class="illustration-grid">
                            <img :src="inspiration.links[0]" class="external-inspiration" v-if="inspiration.links[0]?.length > 0">
                            <img :src="inspiration.links[1]" class="external-inspiration" v-if="inspiration.links[1]?.length > 0">
                            <img :src="inspiration.links[2]" class="external-inspiration" v-if="inspiration.links[2]?.length > 0">
                        </div>
                    </div>
                    <div class="description">
                        <h3 class="h3 mb-2">{{ t('projects_source') + ' ' + (index + 1) }}</h3>
                        <p class="p">{{ inspiration.description }}</p>
                    </div>
                </li>
            </ul>
        </section>
        




        


        <!-- 
            Heroes section
         -->
        <section class="heroes">
            <h2 class="h2"> {{  t('projects_characters') }}</h2>
            <div class="hero mt-4"
                    v-for="(_, count) in project.heroes"
                    :key="project.heroes[count].name">
                <div class="col img mr-3">
                    <ImageContainer
                            :src="`${API_ROOT_URL}/artists/${project.author_name}/projects/${project._id?.$oid}/resources/hero-${project.heroes[count].key}-illustration.jpg`" 
                            class="illustration"/>
                </div>
                <div class="large-col">
                    <!-- FIXME: loose focus on keypress?!?! -->
                    <h3 class="h3">{{ project.heroes[count].name }}</h3>
                    <br>
                    <p class="p">
                        {{ project.heroes[count].description }}
                    </p>
                        
                </div>
            </div>
        </section>





        <!-- 
            Places section
         -->
         <section class="places mt-4">
            <h2 class="h2">{{ t('projects_places') }}</h2>
            <div class="place mt-2"
                    v-for="(_, count) in project.places"
                    :key="count">
                <h3 class="h3">{{ project.places[count].name }}</h3>
                <p class="p">{{ project.places[count].description }}</p>
                <ImageContainer class="illustration" :src="`${API_ROOT_URL}/artists/${project.author_name}/projects/${project._id?.$oid}/resources/place-${project.places[count].key}-illustration.jpg`" />
            </div>
        </section>

    </section>
</template>


<style scoped>
.main-illustration {
    height: 400px;
    width: auto;
    max-width: 600px;
    border-radius: 10px;
}


.place .h3,
.place .p {
    color: #fff;
    text-align: center;
}
.place .h3 {
    margin: 20px;
    font-size: 1.5em;
}
.place .p {
    opacity: .9;
    transition: all .3s ease;
}
.place:hover .p {
    opacity: 1;
    transition: all .3s ease;
}
.heroes .illustration {
    width: 250px;
    min-height: 300px;
}
.place .illustration {
    width: 100%;
    opacity: .6;
}
</style>
