<script setup lang="ts">
import { ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useProjectstore } from '@/stores/project';
import { useNotifications } from '@/stores/notifications';
import { useUserStore } from '@/stores/user';
import { useI18n } from 'vue-i18n';
import { API_ROOT_URL, updateProject, uploadProjectResource, getProject, getProjectFiles } from '@/api/main'
import ImageContainer from '@/components/ImageContainer.vue';


const {t} = useI18n()
const projectStore = useProjectstore()
const route = useRoute()
const router = useRouter()
const user = useUserStore().user
const notificationsStore = useNotifications()
const project = ref(projectStore.project)


const randomKey = ref(randomizer())
const newHeroName = ref('')
const newHeroDescription = ref('')
const refreshToken = ref(randomizer())
const newPlaceName = ref('')
const newPlaceDescription = ref('')


function randomizer() {
    return Math.floor(Math.random() * 100000)
}

/**
 * This method load the requested project (if any) and if it exists.
 * It's called at view creation & update and relies on the route
 */
function loadProjectIfExists() {
    if (route.params.projectId) {
        getProject(route.params.projectId as string)
            .then(response => response.json())
            .then(data => {
                console.log('LOAD PROJECT FROM API', data)
                project.value = data
                getProjectFiles(project.value.author_name!, project.value._id!.$oid)
                    .then(response => response.json())
                    .then(data => {
                        project.value.calculatedFiles = JSON.parse(JSON.stringify(data))
                    })
            })
    }
}

function addProjectResource(ev: Event, fileName: string) {
    console.log((ev.target as any).files[0])
    uploadProjectResource(user.login, project.value._id?.$oid!, (ev.target as any).files[0], fileName)
        .then(response => {
            console.log('coucou', response)
            refreshToken.value = randomizer()
        })
}

function addHero() {
    project.value.heroes.push({
        key: JSON.parse(JSON.stringify(randomKey.value)),
        name: JSON.parse(JSON.stringify(newHeroName.value)),
        description: JSON.parse(JSON.stringify(newHeroDescription.value)),
    })
    randomKey.value = randomizer()
    newHeroName.value = ''
    newHeroDescription.value = ''
    saveProject()
}

function addPlace() {
    project.value.places.push({
        key: JSON.parse(JSON.stringify(randomKey.value)),
        name: JSON.parse(JSON.stringify(newPlaceName.value)),
        description: JSON.parse(JSON.stringify(newPlaceDescription.value)),
    })
    randomKey.value = randomizer()
    newPlaceName.value = ''
    newPlaceDescription.value = ''
    saveProject()
}

function saveProject() {
    // if (project.value._id) {
    //     (project.value as any)._id = project.value._id['$oid']
    // }
    updateProject(project.value)
        .then(response => {
            notificationsStore.showNotification('Project saved')
        })

}


loadProjectIfExists()

</script>
<template>
    <section class="profile container mt-4" v-if="project._id">
        <h1 class="h1"> {{  project.name }}</h1>
        <h2 class="h2"> {{  t('projects_characters') }}</h2>

        <section class="heroes">
            <div class="hero">
                <div class="col img mr-3">
                    <input type="file" class="input-file"
                            accept="image/jpeg, image/png"
                            @change="addProjectResource($event, `/hero-${randomKey}-illustration.jpg`)">
                    <ImageContainer
                            v-if="project.calculatedFiles && project.calculatedFiles[0]" 
                            :src="`${API_ROOT_URL}/artists/${user.login}/projects/${project._id.$oid}/resources/hero-${randomKey}-illustration.jpg?token=${refreshToken}`" 
                            class="illustration"/>
                </div>
                <div class="large-col">
                    <input type="hidden" v-model="randomKey">
                    <input type="text" class="input mb-1" 
                            :placeholder="t('projects_hero_name')"
                            v-model="newHeroName">
                    <br>
                    <textarea class="input description" 
                            v-model="newHeroDescription"
                            :placeholder="t('field_summary')"></textarea>
                    <button class="button mt-1" 
                            @click="addHero">{{  t('field_add') }}</button>
                </div>
            </div>




            <div class="hero mt-4"
                    v-for="(_, count) in project.heroes"
                    :key="project.heroes[count].name">
                <div class="col img mr-3">
                    <!-- <input type="file" class="input-file"
                            accept="image/jpeg, image/png"
                            @change="addProjectResource($event, `/hero-${project.heroes[count].key}-illustration.jpg`)"> -->
                    <ImageContainer
                            :src="`${API_ROOT_URL}/artists/${user.login}/projects/${project._id.$oid}/resources/hero-${project.heroes[count].key}-illustration.jpg`" 
                            class="illustration"/>
                </div>
                <div class="large-col">
                    <input type="hidden" v-model="randomKey">
                    <!-- FIXME: loose focus on keypress?!?! -->
                    <h3 class="h3">{{ project.heroes[count].name }}</h3>
                    <!-- <input type="text" class="input mb-1" 
                            :placeholder="t('projects_hero_name')"
                            v-model="project.heroes[count].name"> -->
                    <br>
                    <p class="p description">{{ project.heroes[count].description }}</p>
                </div>
            </div>
        </section>


        <!-- 
            Places section
         -->
        <section class="places">
            <h2 class="h2">{{ t('projects_places') }}</h2>
            <div class="place">
                <input type="input" class="input name" :placeholder="t('projects_place_name')"
                        v-model="newPlaceName">
                <textarea class="input description" :placeholder="t('field_description')"
                        v-model="newPlaceDescription"></textarea>
                <ImageContainer class="illustration" :src="`${API_ROOT_URL}/artists/${user.login}/projects/${project._id.$oid}/resources/place-${randomKey}-illustration.jpg?token=${refreshToken}`" />
                <div class="center">
                    <button class="light mr-2">
                        <input type="file" class="input-file"
                                @change="addProjectResource($event, `/place-${randomKey}-illustration.jpg`)">
                         {{ t('projects_place_illustration') }}
                    </button>
                    <button class="light center"
                        v-if="newPlaceName.length > 3 && newPlaceDescription.length > 10"
                        @click="addPlace">{{ t('field_save') }}</button>
                </div>
            </div>




            <div class="place mt-2"
                    v-for="(_, count) in project.places"
                    :key="count">
                <h3 class="mt-2 h3">{{ project.places[count].name }}</h3>
                <p class="description">{{ project.places[count].description }}</p>
                <ImageContainer class="illustration" :src="`${API_ROOT_URL}/artists/${user.login}/projects/${project._id.$oid}/resources/place-${project.places[count].key}-illustration.jpg`" />
                <div class="center">
                </div>
            </div>

        </section>


        <div class="center mt-4">
            <button class="cta button mt-1 mr-2"
                    @click="saveProject">{{ t('field_save') }}</button>
            <button class="button mr-2"
                    @click="router.push(`/share-project/${project._id!.$oid}`)"
                    >{{ t('community_share_project') }}</button>
            <!-- <button class="cta button mt-1 green" 
                    v-if="project._id"
                    @click="router.push(`/edit-project-details/${project._id?.$oid}`)">{{ t('projects_presentation') }}</button> -->
        </div>
    </section>
</template>


<style>


/* 
    Places section
*/
.place {
    background-color: #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 50px;
    min-height: 230px;
}
.place .input {
    background-color: transparent;
    color: #eee;
    text-align: center;
    border-color: #444;
    cursor: pointer;
    transition: all .3s ease;
    /* backdrop-filter: blur(5px); */
}
.place .center {
    margin: 0 auto;
}
.place > * {
    z-index: 1;
}
.place .illustration {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .3;
    filter: blur(5px);
}
.place .h3,
.place .description
{
    text-align: center;
    color: #eee;
}

</style>
